body {
  background-color: #f6f2e6;
}
#minor-section {
    padding: 3px;
    margin-bottom: 3px;
    border: solid 1px rgb(231, 198, 149);
    background-color: #ffcc00;
  }
  p {
    font-family:'Times New Roman', Times, serif;
    padding: 3px;
    margin-bottom: 3px;
    border: solid 1px rgb(232, 191, 153);
    background-color: #f3e1c1;
  }
  h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    color: rgb(175, 33, 33);
  }
  h2 {
    font-family: monospace;
    font-size: 200%;
    padding: 3px;
    margin-bottom: 3px;
    border: solid 1px rgb(228, 186, 142);
    background-color: #fafae5;
    color: #000000;
  }
  h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    padding: 3px;
    margin-bottom: 3px;
    border: solid 1px rgb(124, 64, 0);
    background-color: #f4dda6;
    color: #830b0b;
  }
  #result {
      width: 200px;
  }
  #Screenshots {
      width: 390px;
  }