body {
    background-color: #ffb7ef;
  }
  #minor-section {
      padding: 3px;
      margin-bottom: 3px;
      border: solid 1px rgb(245, 246, 235);
      background-color: #1f5b8c;
    }
    p {
      font-family:'Times New Roman', Times, serif;
      padding: 3px;
      margin-bottom: 3px;
      border: solid 1px rgb(253, 240, 228);
      background-color: #c88aff;
    }
    h1 {
      font-family: 'Times New Roman', Times, serif;
      font-size: 120%;
      color: rgb(0, 70, 144);
    }
    h2 {
      font-family: monospace;
      font-size: 200%;
      padding: 3px;
      margin-bottom: 3px;
      border: solid 1px rgb(234, 221, 207);
      background-color: #fafae5;
      color: #000000;
    }
    h3 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 200%;
      padding: 3px;
      margin-bottom: 3px;
      border: solid 1px rgb(86, 18, 211);
      background-color: #c1e6a8;
      color: #15075b;
    }
    #result {
        width: 200px;
    }
    #Screenshots {
        width: 390px;
    }
    .special {
        background-color: rgb(0, 0, 0);
        border: dotted 50px rgb(159, 225, 245);
        color: rgb(245, 192, 255);
        font-weight: bold;
    }
    .text p {
        display:inline-block;
        max-width: 90%;
        margin: 8px;
        padding: 2px 6px;
        border-radius: 20px;
        background-color: rgb(100, 7, 7);
        color: rgb(223, 247, 255);
        font-family:'Times New Roman', Times, serif;
        font-size: 1em;
      }